@import "../../variables.scss";
.transpose-cls {
  margin-left: 25%;
}
.table-container {
  min-width: 0px;
}
.input-field {
  min-width: 50px !important;
}
.add-btn-cls {
  border: 1px solid $blue-label;
  color: $blue-label;
  height: 32px;
  width: 140px;
  background:white;
  span{
      margin-right: 5px;
  }
}
/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 28px;
  width: 54px;
  border: 1px solid grey;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 0px;
  bottom: 0px;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider:before {
  background-color: $blue-label;
}

input:checked + .slider {
  background-color: white;
}

//   input:focus + .slider {
//     box-shadow: 0 0 1px #2196F3;
//   }

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
.blue-label {
  color: $blue-label;
}
.light-label {
  color: $light-label;
}
