<form [formGroup]="tableForm" (ngSubmit)="onSaveClick(tableForm)">
<div class="domain-table-container" fxLayout="column" fxLayoutGap="10px">
  <div fxLayout="row">
    <span fxFlex="25">Start Identifier</span>
    <input fxFlex="50" type="text" formControlName="startIdentifier" placeholder="Enter the text that appears before the table">
  </div>
  <div fxLayout="row">
    <span fxFlex="25">End Identifier</span>
    <input fxFlex="50" type="text" formControlName="endIdentifier" placeholder="Enter the text that appears after the table">
  </div>
  <div>
    <div class="form-check transpose-cls">
      <label class="form-check-label">
        <input type="checkbox" formControlName="isTranspose" class="form-check-input" value="">Is Transpose ?
      </label>
    </div>
  </div>
  <span class="light-label">Configure table columns</span>
  <div class="table-container">
    <div class="table-responsive">
      <table class="table table-bordered">
        <thead>
          <tr>
            <th class="light-label">Column Header</th>
            <th class="light-label">Rule</th>
            <th class="light-label">Map Attribute</th>
            <th class="light-label">Multi Column</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td><input class="form-control" type="text" placeholder="Header name"></td>
            <td><span class="blue-label">View Rule</span></td>
            <td><input class="input-field form-control" type="text" placeholder="Attribute Name"></td>
            <td><label class="switch">
                <input type="checkbox">
                <span class="slider round"></span>
              </label></td>
          </tr>
          <tr>
            <td><input class="form-control" type="text" placeholder="Header name"></td>
            <td><span class="blue-label">View Rule</span></td>
            <td><input class="input-field form-control" type="text" placeholder="Attribute Name"></td>
            <td><label class="switch">
                <input type="checkbox">
                <span class="slider round"></span>
              </label></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <button class="add-btn-cls"><span>+</span>Add Column</button>
  <button class="add-btn-cls" type="submit">Save</button>

</div>
</form>