<div *ngFor="let field of selectedFields;let i=index" class="content-field">
    <div *ngIf="field.type==='table'">
      <app-element-container [elementData]="field" (elementValueChange)="elementValueChange($event,i)">
        <div class="component">
          <app-domain-table (tableDataEmitter)="addOutputData($event,field,i)"></app-domain-table>
        </div>
      </app-element-container>
    </div>
    <div *ngIf="field.type==='field'">
      <app-element-container [elementData]="field" (elementValueChange)="elementValueChange($event,i)">
        <div class='component'>
          <app-domain-fields (fieldsDataChange)="addOutputData($event,field,i)"></app-domain-fields>
        </div>
      </app-element-container>
    </div>
    <div *ngIf="field.type==='section'">
      <app-element-container [elementData]="field" (elementValueChange)="elementValueChange($event,i)">
        <div class='component'>
          <app-domain-sub-section [fieldsData]="fieldsData" [selectedFields]="field.attributes" [index]="i" (subSectionEmitter)="addOutputData($event,field,i,true)" (subSectionElementSelection)="subSectionElementSelection($event,i)"> </app-domain-sub-section>
        </div>
      </app-element-container>
    </div>
  </div>