<div fxLayout="row" class="domain-elements-container">
  <div class="element-cls" *ngFor="let element of fieldsData" fxFlex fxLayoutGap="5px" fxLayout="column" fxLayoutAlign="center center" (click)="onElementClick(element)">
    <div>
      <img [src]="element.img" width="25px" height="25px">
    </div>
    <div class="element-label">{{element.title}}</div>
  </div>
</div>