@import "../../variables.scss";
.domain-elements-container {
  border: 1px solid $border-color;
  .element-cls {
    border-right: 1px solid $border-color;
    cursor: pointer;
    height: 72px;
    padding: 5px;
    .element-label {
      font-size: 12px;
      color: #5e5e5e;
      white-space: nowrap;
    }
  }
}
