@import '../../variables.scss';
.elemant-container{
    border:1px solid $border-color;
    .element-header{
        border-bottom: 1px solid $border-color;
        background: #F2F5FF;
        .title-img{
            margin-left: 10px;
        }
        .element-name{
            border:0px;
            background: #F2F5FF;
           
        }
        .element-name:focus{
            outline:none !important;
        }
        .icon-cls{
            margin: 10px;
            cursor: pointer;
       }
    }
    .element-content{
        padding:10px 20px;
    }

}