<div class="elemant-container" >
  <div class="element-header" fxLayout="row">
    <div class="element-header-title-box" fxFlex fxLayout="row" fxLayoutAlign=" center" fxLayoutGap="10px">
      <img [src]="elementData.img" height="24px" width="24px" class="title-img"/>
      <input type="text" class="element-name" [(ngModel)]="elementData.title"/>
    </div>
    <div class="element-header-action-box">
      <i class="fa fa-pencil icon-cls" aria-hidden="true" (click)="onEditClick()"></i>
      <i class="fa fa-trash-o icon-cls" aria-hidden="true" (click)="onDeleteClick(elementData)"></i>
      <i class="icon-cls" [ngClass]="elementData.isCollapsed ? 'fa fa-caret-up' : 'fa fa-caret-down'" aria-hidden="true" (click)="onExpandClick(elementData)"></i>
    </div>
  </div>
  <div class="element-content" *ngIf="!elementData.isCollapsed">
    <ng-content select='div.component'></ng-content>
  </div>
</div>