@import '../../variables.scss';
.blue-label-cls{
    color:$blue-label;
}
.variable-name-cls{
    border: 1px solid $border-color;
}
.save-btn-cls{
    margin-right: 10px;
}
.save-btn-cls,.cancel-btn-cls{
    cursor: pointer;
    background: white;
    border:1px solid $border-color;
    height: 42px;
    width: 106px;
    border-radius: 18px;
    color:black;
}