<form [formGroup]="myForm" (ngSubmit)="onSaveClick(myForm)">
  <div fxLayout="column" fxLayoutGap="10px" class="">
    <div fxLayout="row">
      <span fxFlex="40">Does the document have heading ?</span>
      <div class="form-check-inline">
        <label class="form-check-label blue-label-cls">
          <input type="radio" class="form-check-input " value=true formControlName="isHeadingAvailable">YES
        </label>
      </div>
      <div class="form-check-inline">
        <label class="form-check-label blue-label-cls">
          <input type="radio" class="form-check-input   " value=false formControlName="isHeadingAvailable">NO
        </label>
      </div>
    </div>
    <div fxLayout="row">
      <span fxFlex="40">Select the label</span>
      <textarea class="form-control" rows="1" id="label"></textarea>
    </div>
    <div fxLayout="row">
      <span fxFlex="40">Select the value</span>
      <textarea class="form-control" rows="1" id="value"></textarea>
    </div>
    <div fxLayout="row">
      <span fxFlex="40">Is field size variable ?</span>
      <div>
          <input type="checkbox" class="form-check-input" value="" formControlName="isFieldSizeVariable">
        
      </div>
    </div>
    <div>
      <div class="form-check-inline">
        <label class="form-check-label blue-label-cls">
          <input type="radio" class="form-check-input " formControlName="selectionType">Select Entry and/or Attribute
        </label>
      </div>
      <div class="form-check-inline">
        <label class="form-check-label blue-label-cls">
          <input type="radio" class="form-check-input " formControlName="selectionType">Create Document Variable
        </label>
      </div>
    </div>
    <div fxLayout="row" fxLayoutGap="10px">
      <input type="text" class="variable-name-cls" placeholder="Enter Variable Name" formControlName="variableName" fxFlex="40">
      <select class="form-control" id="sel1" fxFlex="40" formControlName="dataType">
        <option>Select Data Type</option>
        <option>x</option>
        <option>y</option>
        <option>z</option>
      </select>
    </div>
    <div class="form-check">
      <label class="form-check-label">
        <input type="checkbox" class="form-check-input" value="" formControlName="areRulesEnabled">Enable Rules
      </label>
    </div>
    <div>
      <button class="save-btn-cls" type="submit">Save</button>
      <button class="cancel-btn-cls">Cancel</button>
    </div>
  </div>
</form>