<!-- <app-domain-fields></app-domain-fields> -->
<!-- <app-element-container [elementData]="elementData">
<app-domain-fields class="component"></app-domain-fields>
</app-element-container> -->
<!-- <app-domain-elements></app-domain-elements> -->
<!-- <app-domain-table></app-domain-table> -->
<div fxLayout="row">
    <div fxFlex="55">
    <img src="assets/images/Screenshot from 2019-01-03 17-10-27.png" width="100%">
    </div>
    <div fxFlex="45">
            <app-document-elements></app-document-elements>
    </div>
</div>
