<div class="documents-elements-container">
  <div class="documents-elements-header">
    <span class="header-label"> Default Section</span>
    <i class="fa fa-pencil edit-cls" aria-hidden="true" (click)="onEditClick()"></i>
  </div>
  <div class="documents-elements-content">
    <app-domain-elements [fieldsData]="fieldsData" (selectedElementChange)="selectedElementChange($event)"></app-domain-elements>
    <app-display-fields [fieldsData]="fieldsData" (subSectionElementSelection)="subSectionElementSelection($event)" [selectedFields]="selectedFields" (deleteElementChange)="elementValueChange($event)" (dataEmitter)="fieldsDataChange($event)"></app-display-fields>
  </div>
  <div>