@import '../../shared/variables.scss';
.documents-elements-container{
    border:1px solid $border-color;
    .documents-elements-header{
        border-bottom: 1px solid $border-color;
        padding:5px 20px;
        .header-label{
            font-weight: 600;
        }
        .edit-cls{
            float: right;
            margin-top:3px;
        }
    }
    .documents-elements-content{
        padding: 4px;
    }
}