<div>
  <div>
    <app-domain-elements [fieldsData]="fieldsData" (selectedElementChange)="selectedElementChange($event)"></app-domain-elements>
  </div>
  <app-display-fields [fieldsData]="fieldsData" (subSectionElementSelection)="subSectionSelectionData($event)" (dataEmitter)="dataEmitter($event)" [selectedFields]="selectedFields" (deleteElementChange)="elementValueChange($event)"></app-display-fields>
</div>